.App {
  text-align: center;

}

input[type=text], input[type=number] {


  background-color: transparent;
  border: 0;
  border-bottom: solid 2px blue;
text-align: center;
  color: #111;
  margin:20px;
  font-size: 14px;


}

ul{
list-style: none;
}

.inputBtn input[type=submit] {
  padding:50px 100px;
}

.peopleList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact{
  border: 2px solid grey;
  width:100%;
  margin:20px;
  padding:30px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.info{
  line-height: 3;
}